<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Forum</title>
	<link rel="stylesheet"  type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
	<link rel = "stylesheet" type = "text.css" href = "http://localhost:3000/style.css">
</head>
<body>
	<div class = "container">

		<div class = "row" id = "header">
			<div class = "twelve columns">
				<a href="http://localhost:3000"><h1 id ="header_text"> Welcome To Jakes Forum! </h1></a>
			</div>
		</div></br>

<!-- 		<div class = "row">
			<div class = "six columns">
				<button>This is a button</button>
			</div>
			<div class = "six columns">
				<button style = "position: relative; float: right">This is a button</button>
			</div>			
		</div>
 -->
		<div class = "row">
			<div class = "twelve columns" style = "text-align: center;">
				<h2> <%= category.name %>
				<form action = "/forums/threads/new/<%= category.id%>">
					<button style = "position: relative; float: right">New Thread</button>
				</form></h2>
			</div>			
		</div>


		<div id = "categories_body">

		<div class = "row">
			<div class = "eleven columns">
				<p class = "cat_thread"> Threads </p>
			</div>
			<div class = "one columns">
				<p style = "position: relative; float: right"> Replies</p>
			</div>
		</div>



		<% threads.forEach(function(thread){ %>
		<% if (category.id == thread.cat_id) { %>
		<div class = "row">
			<div class = "twelve columns">
				<a href = "http://localhost:3000/forums/threads/<%= thread.id %>" class = "eleven columns"><h5 id = "thread_select"> <%= thread.title %> </h5></a>
				
				<% var counter = 1 %>
				<% replies.forEach(function(text){ %>
				<% if (thread.id == text.thread_id) { counter ++ }	 %>
				<% }) %>
				<h5 class = "one columns"> <%= counter %> <h5>

			</div>			
		</div>
		<% } %>
		<% }) %>

		</div>

	</div>
</body>
</html>