<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Forum</title>
	<link rel="stylesheet"  type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
	<link rel = "stylesheet" type = "text.css" href = "http://localhost:3000/style.css">
</head>
<body>
	<div class = "container">

		<div class = "row" id = "header">
			<div class = "twelve columns">
				<a href="http://localhost:3000"><h1 id ="header_text"> Welcome To Jakes Forum! </h1></a>
			</div>
		</div></br>

<!-- 		<div class = "row">
			<div class = "six columns">
				<button>This is a button</button>
			</div>
			<div class = "six columns">
				<button style = "position: relative; float: right">This is a button</button>
			</div>			
		</div>
 -->
		<div class = "row">
			<div class = "twelve columns" style = "text-align: center;">
				<h5> <%= thread.title %> 
				<form action = "/forums/threads/<%= thread.id%>?_method=PUT" method = "POST">
					<button style = "position: relative; float: right">VOTE!</button> </form></h5>
			</div>			
		</div>


		<div class = "row" style = "margin-bottom: 0px;">
			<div class = "eleven columns">
				<p class = "cat_thread"> Post </p>
			</div>
			<div class = "one columns">
				<p style = "position: relative; float: right"> Reply#</p>
			</div>
		</div>
		<div id ="categories_body" style = "margin-top: 0px;">


		<div class = "row" id = "thread_div">
			<div class = "twelve columns">
				<p class = "eleven columns" id = "thread_content"> <%= thread.content %> </p>
				<h5 class = "one columns"> 1 </h5>
			</div>			
		</div>

		<% var counter = 2 %>
		<% reply.forEach(function(text){ %>
		<div class = "row" id = "thread_div">
			<div class = "twelve columns">
				<p class = "eleven columns" id = "thread_content"> <%= text.content %> </p>
				<h5 class = "one columns">  <%= counter %> </h5>
				<% counter ++  %>
			</div>					
		</div>
		<%	}) %>

		</br><form action="/forums/threads/<%= thread.id %>" method="POST">
  		<div class="row" style = "padding-left: 30px; padding-right: 30px;">
    		<label for="reply">New Reply</label>
  			<textarea class="u-full-width" placeholder="Type reply here" id="reply" name ="reply"></textarea>
  			<button>Submit</button>
  		</div>
		</form>

		</div>











	</div>
</body>
</html>