<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Jakes Forum</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link rel="stylesheet"  type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
	<link rel = "stylesheet" type = "text.css" href = "http://calm-peak-30186.herokuapp.com/style.css">
</head>
<body>
	<div class = "container">

		<div class = "row" id = "header">
			<div class = "twelve columns">
				<a href="http://calm-peak-30186.herokuapp.com/"><h1 id ="header_text"> Welcome To Jakes Forum! </h1></a>
			</div>
		</div></br>

		<div class = "row">
			<div class = "twelve columns" >
				<a href="http://calm-peak-30186.herokuapp.com/forums/<%= thread.cat_id %>" id = "thread_link"><h5 class = "ten columns" style = "padding-left: 10px"> <%= thread.title %> </h5></a>
				<form class = "two columns" action = "/forums/threads/<%= thread.id%>?_method=PUT" method = "POST">
					<button class = "vote">VOTE!</button> </form>
				<h8 class = "vote_number"> (<%= thread.votes %>:Votes) </h8>
			</div>			
		</div>

		<div class = "row" >
			<div class = "twelve columns">
				<p class = "ten columns" id = "thread_content"> Reply: </p>
				<p class = "two columns"> #|State</p>
			</div>
		</div>

		<div id ="categories_body">

		<div class = "row" id = "thread_div">
			<div class = "twelve columns">
				<p class = "ten columns" id = "thread_content"> <%= thread.content %> </p>
				<p class = "two columns"> 1 | OP </p>
			</div>			
		</div>

		<% var counter = 2 %>
		<% reply.forEach(function(text){ %>
		<div class = "row" id = "thread_div">
			<div class = "twelve columns">
				<a href = "http://calm-peak-30186.herokuapp.com/forums/threads/nested/<%= text.id %>"><p class = "ten columns" id = "thread_content"> <%= text.content %> </p> </a>
				<p class = "two columns">  <%= counter %> | <%= text.locality %></p>
				<% counter ++  %>
			</div>					
		</div>

		<% nest.forEach(function(nested){ %>
		<% if(text.id == nested.replies_id) { %>
		<div class = "row" id = "nested_div">
			<div class = "twelve columns" id = "nested_content">
				<p class = "ten columns" id = "thread_content"> <%= nested.content %> </p>
				<p class = "two columns">^ | ^</p>
			</div>
		</div>
		<%  } %>
		<%	}) %>
		<%	}) %>

		<div class = "row" id = "break"></div>

		<form action="/forums/threads/<%= thread.id %>" method="POST">
  		<div class="row" id = "thread_form">
    		<label for="reply">New Reply</label>
  			<textarea class="u-full-width" placeholder="Type reply here" id="reply" name ="reply"></textarea>
  			<input type="hidden" name="location" class = "location">
  			<button>Submit</button>
  		</div>
		</form>

		</div>

<script>
	navigator.geolocation.getCurrentPosition(success, error);

	function success(position) {
    var lat = position.coords.latitude;
    var lng = position.coords.longitude;
   	var location = (lat + ', ' + lng);
    $(".location").val(location)
    console.log(location)
	}

	function error(error) {
    alert ('damn error' +error);
	}

</script>

	</div>
</body>
</html>